                .main {
                border:50px rgb(63, 65, 63);
                background-color:rgb(252, 250, 246);
                font-size: 25px;
                width:25%;
                margin-left:40%;
                }
                
                .fp2 {
                 text-align:center;
                 background-color:rgb(224, 224, 222);
                 font-size: 20px;
                } 

                .fpnp {
                 text-align:center;
                 padding-right :8% ;
                }
            
                .fpcp {
                text-align:center; 
                }
                
                .p {
                text-align:center;
                padding-top: 5px;
                font-size: 40px ;
                text-decoration: underline;
                }

                .fpsub {
                cursor:pointer ;
                }